<div id="body">
  <div id="contactUs">
    <h2>Contact Us</h2>
    <mat-card>
      <mat-form-field>
        <input class="inputfield" type="text" placeholder="Your name" matInput >
      </mat-form-field>
      
      <mat-form-field>
          <input type="text" placeholder="Your E-mail" matInput class="inputfield">
        </mat-form-field>
      <mat-form-field>
          <input type="text" placeholder="Your message" matInput class="inputfield">
        </mat-form-field>
        <div>
            <span fxFlex></span>  
            <button mat-raised-button color="primary">Send</button>
            <span fxFlex></span>  
        </div>
    </mat-card>
  </div>
</div>
