<mat-toolbar color="primary">
  <mat-icon color="default" (click)='sidenav.toggle()' id="menuIcon">menu</mat-icon>
  <span>Junior Hack</span>
  <span fxFlex></span>
  <button mat-button class="toolbarbutton" routerLink="/" >Home</button>
  <button mat-button class="toolbarbutton">About</button>
  <button mat-button class="toolbarbutton" routerLink="/timeline">Timeline</button>
  <button mat-button class="toolbarbutton" routerLink="/award">Awards</button>
  <button mat-button class="toolbarbutton">Registration</button>
  <button mat-button class="toolbarbutton">Contact</button>
 
</mat-toolbar>
<mat-sidenav-container class="example-container" >
  
    <mat-sidenav mode="push"  #sidenav id="sideNav">
        <button mat-button routerLink="/" >Home</button>
        <button mat-button>About</button>
        <button mat-button routerLink="/timeline">Timeline</button>
        <button mat-button routerLink="/award">Awards</button>
        <button mat-button>Registration</button>
        <button mat-button>Contact</button>
    </mat-sidenav>


    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

